 body{background-color: bisque;}
            hr{color: darkcyan;}
            h1{
                border: solid;
                color: darkcyan;
            }
            img{
                border: solid;
                color: darkcyan;
            }
            p{
               
                color: darkcyan;
            }
            hr{
                border: solid;
                color: darkcyan;
            }